.saved {
  height: auto;
  padding-top: 20vh;

  &__heading {
    //styling the 'Gallery' heading's size,position and color
    //margin-left: 400px;
    padding-bottom: 20px;
    //font-size: 50px;
    margin-bottom: 1rem;
    //color: orangered;
  }
}
fieldset {
  padding: 20px 20px;
}
